<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Social Meltdown</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="shortcut icon" href="/favicon.ico" />
	
	<meta name="keywords" content="Social Meltdown.  A delightful game of mutually assured destruction." />
	
	<meta content='True' name='HandheldFriendly' />
	<meta name="viewport" content="width=device-width" />
	
	<link rel=stylesheet HREF="stylesheets/mad.css" type="text/css" media=screen></link>
	<!-- SS -->
	<!-- JS -->
	
</head>

<body>
	<div id="container-homepage" class="structure">
		
		<div class="flash issues"></div>
		
		<%- body %>
		
		<div id="footer" class="structure">
			<div class="container-center">
				<div class="watermark">2011 MelonCard Inc.</div>
				<div class="strip">
					
				</div>
				<div class="sharing">
					<div class="socialink">
						<a href="https://twitter.com/share" class="twitter-share-button" data-text="Have fun with Social Meltdown" data-url="socialmeltdown.com" data-via="socialmeltdown" data-count="none">Tweet</a>
					</div>
					<div class="socialink">
						<g:plusone size="medium" href="http://socialmeltdown.com"></g:plusone>
					</div>
					<div class="socialink">
						<div id="facebookHolder"></div>
					</div>
				</div>
			</div>
		</div>
		<b id="te"></b>
		<b id="re"></b>
		<b id="be"></b>
		<b id="le"></b>
	</div>
	
</body>

</html>
